/* Set box sizing */
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    float: left;
    width: 100%;
}

/* For Mobile Phones */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .xs-col-1 {width: 8.33%;}
    .xs-col-2 {width: 16.66%;}
    .xs-col-3 {width: 25%;}
    .xs-col-4 {width: 33.33%;}
    .xs-col-5 {width: 41.66%;}
    .xs-col-6 {width: 50%;}
    .xs-col-7 {width: 58.33%;}
    .xs-col-8 {width: 66.66%;}
    .xs-col-9 {width: 75%;}
    .xs-col-10 {width: 83.33%;}
    .xs-col-11 {width: 91.66%;}
    .xs-col-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
    .s-col-1 {width: 8.33%;}
    .s-col-2 {width: 16.66%;}
    .s-col-3 {width: 25%;}
    .s-col-4 {width: 33.33%;}
    .s-col-5 {width: 41.66%;}
    .s-col-6 {width: 50%;}
    .s-col-7 {width: 58.33%;}
    .s-col-8 {width: 66.66%;}
    .s-col-9 {width: 75%;}
    .s-col-10 {width: 83.33%;}
    .s-col-11 {width: 91.66%;}
    .s-col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .m-col-1 {width: 8.33%;}
    .m-col-2 {width: 16.66%;}
    .m-col-3 {width: 25%;}
    .m-col-4 {width: 33.33%;}
    .m-col-5 {width: 41.66%;}
    .m-col-6 {width: 50%;}
    .m-col-7 {width: 58.33%;}
    .m-col-8 {width: 66.66%;}
    .m-col-9 {width: 75%;}
    .m-col-10 {width: 83.33%;}
    .m-col-11 {width: 91.66%;}
    .m-col-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 1200px) {
    .l-col-1 {width: 8.33%;}
    .l-col-2 {width: 16.66%;}
    .l-col-3 {width: 25%;}
    .l-col-4 {width: 33.33%;}
    .l-col-5 {width: 41.66%;}
    .l-col-6 {width: 50%;}
    .l-col-7 {width: 58.33%;}
    .l-col-8 {width: 66.66%;}
    .l-col-9 {width: 75%;}
    .l-col-10 {width: 83.33%;}
    .l-col-11 {width: 91.66%;}
    .l-col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Text Colors */
.text-white {color: white;}
.text-black {color: black;}
.text-primary {color: #382bf0;}
.text-secondary {color: #a688fa;}

/* Background Colors */
/* Dark Backgrounds */
.background-dark-100 {background-color: #121212;}
.background-dark-200 {background-color: #282828;}
.background-dark-300 {background-color: #3f3f3f;}
.background-dark-400 {background-color: #575757;}
.background-dark-500 {background-color: #717171;}

/* Accent Colors */
.background-primary-100 {background-color: #382bf0;}
.background-primary-200 {background-color: #5e43f3;}
.background-primary-300 {background-color: #7a5af5;}
.background-primary-400 {background-color: #9171f8;}
.background-primary-500 {background-color: #a688fa;}

/* Mixed Colors */
.background-mixed-100 {background-color: #1a1625;}
.background-mixed-200 {background-color: #2f2b3a;}
.background-mixed-300 {background-color: #46424f;}

/* Padding Classes */
/* X Padding */
.padx-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.padx-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padx-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.padx-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.padx-25 {
    padding-left: 25px;
    padding-right: 25px;
}
.padx-30 {
    padding-left: 30px;
    padding-right: 30px;
}

/* Y Padding */
.pady-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pady-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pady-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.pady-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pady-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.pady-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* All Padding */
.pad-5 {padding: 5px;}
.pad-10 {padding: 10px;}
.pad-15 {padding: 15px;}
.pad-20 {padding: 20px;}
.pad-25 {padding: 25px;}
.pad-30 {padding: 30px;}

/* No Padding */
.no-pad {padding: none;}

/* Auto Padding */
.auto-pad {padding: auto;}

/* Margin Classes */
/* X Margin */
.marginx-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.marginx-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.marginx-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.marginx-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.marginx-25 {
    margin-left: 25px;
    margin-right: 25px;
}
.marginx-30 {
    margin-left: 30px;
    margin-right: 30px;
}

/* Y Margin */
.marginy-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.marginy-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.marginy-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.marginy-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.marginy-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.marginy-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* All Margin */
.margin-5 {margin: 5px;}
.margin-10 {margin: 10px;}
.margin-15 {margin: 15px;}
.margin-20 {margin: 20px;}
.margin-25 {margin: 25px;}
.margin-30 {margin: 30px;}

/* No Margin */
.no-margin {margin: none;}

/* Auto Margin */
.auto-margin {margin: auto;}

#navbar {
    width: 100%;
    overflow: overlay;
    display: block;
}

#content {
    position: relative;
}

.navbar-item {
    float: left;
    width: fit-content;
    height: 48px;
    margin: auto 5px;
    padding: 15px;
    line-height: 100%;
    list-style-type: none;
    text-align: center;
    border-radius: 15px;
}

.navbar-item:hover{cursor: pointer;}
