/* Set box sizing */
* {
    box-sizing: border-box;
}

/* For Mobile Phones */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .xs-col-1 {width: 8.33%;}
    .xs-col-2 {width: 16.66%;}
    .xs-col-3 {width: 25%;}
    .xs-col-4 {width: 33.33%;}
    .xs-col-5 {width: 41.66%;}
    .xs-col-6 {width: 50%;}
    .xs-col-7 {width: 58.33%;}
    .xs-col-8 {width: 66.66%;}
    .xs-col-9 {width: 75%;}
    .xs-col-10 {width: 83.33%;}
    .xs-col-11 {width: 91.66%;}
    .xs-col-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
    .s-col-1 {width: 8.33%;}
    .s-col-2 {width: 16.66%;}
    .s-col-3 {width: 25%;}
    .s-col-4 {width: 33.33%;}
    .s-col-5 {width: 41.66%;}
    .s-col-6 {width: 50%;}
    .s-col-7 {width: 58.33%;}
    .s-col-8 {width: 66.66%;}
    .s-col-9 {width: 75%;}
    .s-col-10 {width: 83.33%;}
    .s-col-11 {width: 91.66%;}
    .s-col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .m-col-1 {width: 8.33%;}
    .m-col-2 {width: 16.66%;}
    .m-col-3 {width: 25%;}
    .m-col-4 {width: 33.33%;}
    .m-col-5 {width: 41.66%;}
    .m-col-6 {width: 50%;}
    .m-col-7 {width: 58.33%;}
    .m-col-8 {width: 66.66%;}
    .m-col-9 {width: 75%;}
    .m-col-10 {width: 83.33%;}
    .m-col-11 {width: 91.66%;}
    .m-col-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 1200px) {
    .l-col-1 {width: 8.33%;}
    .l-col-2 {width: 16.66%;}
    .l-col-3 {width: 25%;}
    .l-col-4 {width: 33.33%;}
    .l-col-5 {width: 41.66%;}
    .l-col-6 {width: 50%;}
    .l-col-7 {width: 58.33%;}
    .l-col-8 {width: 66.66%;}
    .l-col-9 {width: 75%;}
    .l-col-10 {width: 83.33%;}
    .l-col-11 {width: 91.66%;}
    .l-col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Text Colors */
.text-white {color: white;}
.text-black {color: black;}
.text-primary {color: #382bf0;}
.text-secondary {color: #a688fa;}

/* Background Colors */
/* Dark Backgrounds */
.background-dark-100 {background-color: #121212;}
.background-dark-200 {background-color: #282828;}
.background-dark-300 {background-color: #3f3f3f;}
.background-dark-400 {background-color: #575757;}
.background-dark-500 {background-color: #717171;}

/* Accent Colors */
.background-primary-100 {background-color: #382bf0;}
.background-primary-200 {background-color: #5e43f3;}
.background-primary-300 {background-color: #7a5af5;}
.background-primary-400 {background-color: #9171f8;}
.background-primary-500 {background-color: #a688fa;}

/* Mixed Colors */
.background-mixed-100 {background-color: #1a1625;}
.background-mixed-200 {background-color: #2f2b3a;}
.background-mixed-300 {background-color: #46424f;}
